<div id="link" name="link"><div class="wrap_pines">
	<div class="item float_left">
		<h1>技能大纲</h1>
		<div class="line"></div>
		<div>
			<ul>
				<li><a target="_blank" style="cursor: pointer;">快速入门</a></li>
				<li><a target="_blank" style="cursor: pointer;">巩固练习</a></li>
				<li><a target="_blank" style="cursor: pointer;">系统学习</a></li>
				<li><a target="_blank" style="cursor: pointer;">成神之路</a></li>
			</ul>
		</div>
	</div>
	<div class="item float_left">
		<h1>学习资源</h1>
		<div class="line"></div>
		<div>
			<ul>
				<li><a target="_blank" style="cursor: pointer;">书籍推荐</a></li>
				<li><a target="_blank" style="cursor: pointer;">软件、工具分享</a></li>
			</ul>
		</div>
	</div>
	<div class="item float_left">
		<h1>项目演示</h1>
		<div class="line"></div>
		<div>
			<ul>
				<li><a target="_blank" href="http://demo.webxx.net/mousehit">打地鼠</a></li>
				<li><a target="_blank" href="http://demo.webxx.net/weixin2048">微信2048</a></li>
				<li><a target="_blank" href="http://demo.webxx.net/meizu">仿魅族社区</a></li>
				<li><a target="_blank" href="http://demo.webxx.net/love">阿狸的浪漫故事</a></li>
			</ul>
		</div>
	</div>
	<div class="item float_left">
		<h1>博文推荐</h1>
		<div class="line"></div>
		<div>
			<ul>
				<li><a target="_blank" href="http://www.pinewong.com/">PineWong's Notes</a></li>
				<li><a target="_blank" href="http://www.pinewong.com/archives/229">初识Ruby</a></li>
				<li><a target="_blank" href="http://www.pinewong.com/archives/188">搭建OS X Rails环境</a></li>
				<li><a target="_blank" href="http://www.pinewong.com/archives/33">搞笑解决问题</a></li>
			</ul>
		</div>
	</div>
</div></div>
