<div class="topics-title"><h2 class="authorname">作者</h2></div>
<div id="topics-author">
	<div class="info">
		<span><a href="#"><%= image_tag 'topic-pic.png', class: 'header' %></a></span>
		<span class="name">PineWong</span>
	</div>
	<div class="score">积分: 1308</div>
	<div class="sign">养心莫善寡欲，至乐无如读书！</div>
</div>
