<div class="topics-title">
	<span><a href="<%= root_path %>" class="titlename">主页</a></span>
	<span> / </span>
	<span><a href="<%= topics_path %>" class="titlename">话题讨论</a></span>
	<span> / </span>
	<span>编辑话题</span>
</div>
