<!-- <div class="topics-title"><h2>热门话题</h2></div> -->
<div class="content" id="topics_pubbanner">
	<div><a class="pub" href="<%= new_topic_path %>">发布话题</a></div>	
	<div class="tip">你还未登陆，发布话题前请先登录</div>	
</div>
