<div class="topics-title"><h2>用户积分 Top 10 >></h2></div>
<div class="content user-score">
	<% @users_score.each do |user| %>
	<div class="cell">
		<span class="score"><%= user.score %></span>
		<%= link_to user.username, user_path(user), class: 'user' %>
	</div>
	<% end %>
</div>
