	<div id="copyright"><div class="pine-wrap">
		<p>@ Copyright 2016 Web学习网 Managed By <a href="http://www.pinewong.com" target="_blank">PineWong</a></p>
		<p>源代码公开于 <a href="https://github.com/pinewong/webxx" target="_blank">GitHub</a></p>
	</div></div>		
