<div id="oauth" name="link"><div class="pine-wrap">
	<h1 class="title">
		<span>登录</span>
		<span>注册</span>
	</h1>

	<form action="" id="oauth-login">
		<input type="email" name="email" id="" placeholder="请输入登录邮箱" />	
		<input type="password" name="password" id="" placeholder="请输入账户密码，6-12位，区分大小写，不能用空格" />	
	</form>

	<form action="" id="oauth-signup" style="display: none;">
		<input type="email" name="email" id="" placeholder="请输入注册邮箱" />	
		<input type="password" name="password" id="" placeholder="请输入注册账户密码，6-12位，区分大小写，不能用空格" />	
	</form>

	<div class="other-oauth">
		<span>快速登录</span>
		<span>
			<a>GitHub</a>
			<a>微信</a>
			<a>QQ</a>
		</span>
	</div>
</div></div>