<div id="banner">
	<ul class="pic">
		<li class="banner0"><img src="/images/show0.jpg" alt="" /></li>
		<li class="banner1"><img src="/images/show1.jpg" alt="" /></li>
		<li class="banner2"><img src="/images/show2.jpg" alt="" /></li>
		<li class="banner3"><img src="/images/show3.jpg" alt="" /></li>
	</ul>
	<ul class="flex">
		<li class="flex_prev"></li>
		<li class="flex_next"></li>
	</ul>
</div>
