<div id="banner">
	<ul class="pic">
		<li class="banner0"><%= image_tag 'show0.jpg' %></li>
		<li class="banner1"><%= image_tag 'show1.jpg' %></li>
		<li class="banner2"><%= image_tag 'show2.jpg' %></li>
		<li class="banner3"><%= image_tag 'show3.jpg' %></li>
	</ul>
	<ul class="flex">
		<li class="flex_prev"></li>
		<li class="flex_next"></li>
	</ul>
</div>
