	<div id="project"><div class="wrap_pines">
		<h1 class="name">Web<span>项目</span>演示</h1>
		<p class="words">简单的Demo演示</p>
		<div class="line"></div>
		<div class="demo"><ul>
			<li><a target="_blank" href="http://demo.webxx.net/meizu">
				<div class="img"><img src="/images/project_1.png" alt="" /></div>
				<div class="remarks">仿魅族社区</div>
			</a></li>
			<li><a target="_blank" href="http://demo.webxx.net/mi">
				<div class="img"><img src="/images/project_2.png" alt="" /></div>
				<div class="remarks">仿小米官网</div>
			</a></li>
			<li><a target="_blank" href="http://demo.webxx.net/sudoku">
				<div class="img"><img src="/images/sudoku.png" alt="" /></div>
				<div class="remarks">数独强解</div>
			</a></li>
			<li><a target="_blank" href="http://demo.webxx.net/love">
				<div class="img"><img src="/images/project_4.png" alt="" /></div>
				<div class="remarks">阿狸的浪漫故事</div>
			</a></li>
			<li><a target="_blank" href="http://demo.webxx.net/fishjoy">
				<div class="img"><img src="/images/game_1.png" alt="" /></div>
				<div class="remarks">捕鱼达人</div>
			</a></li>
			<li><a target="_blank" href="http://demo.webxx.net/donkeyjump">
				<div class="img"><img src="/images/game_2.png" alt="" /></div>
				<div class="remarks">驴子跳跳</div>
			</a></li>
			<li><a target="_blank" href="http://demo.webxx.net/mousehit">
				<div class="img"><img src="/images/game_3.png" alt="" /></div>
				<div class="remarks">打地鼠</div>
			</a></li>
			<li><a target="_blank" href="http://demo.webxx.net/weixin2048">
				<div class="img"><img src="/images/game_4.png" alt="" /></div>
				<div class="remarks">2048</div>
			</a></li>
		</ul></div>
		<div class="more"><a style="cursor: pointer;">更多项目</a></div>
	</div></div>
