default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: postgres
  password: 

development:
  <<: *default
  database: webxx_development

test:
  <<: *default
  database: webxx_test

production:
  <<: *default
  database: webxx_production
