@charset "UTF-8";
/**
 * 
 * @authors Pine Wong (pinewong@163.com)
 * @date 	2016-03-26 09:16:49
 * @version $Id$
 */

/* 轮播图 */
#banner { height: 512px; background: #eee; opacity: 1; }
	#banner .pic { width: 5464px; position: relative; }
	#banner .pic li { width: 1366px; height: 512px; float: left; font-size: 0; z-index: 0; }
	#banner .pic li img { width: 1366px; height: 512px; transition: all 1s ease 0s;  }

	#banner .flex { cursor: pointer;  background: z-index: 9; }
		#banner .flex_prev { float: left; position: relative; top: -250px; left: 60px; width: 37px; height: 66px; background: url(../images/slide-prev.png); }
		#banner .flex_next { float: right; position: relative; top: -250px; right: 60px; width: 37px; height: 66px; background: url(../images/slide-next.png); }

/* 大纲 */
#outline { background: rgb(247,247,247); padding: 40px 0; }
	#out_title { height: 160px; }
		#out_title h1 { color: #121212; font-family: 'Open Sans'; font-size: 30px; font-weight: normal; line-height: 35px; margin: 0 0 10px; text-align: center; margin-bottom: 30px; }
		#out_title p { color: #6A6A6A; font-family: 'Open Sans'; font-weight:400; font-size: 20px; line-height: 20px; text-align: center; }

	#outline .line { height: 5px; background-color: #f8504b; width: 100px; margin: 0 auto 30px; }


	#out_content { height: 285px; text-align: center; }
		#out_content .item { height: 285px; width: 275px; }

			#out_content .icon { margin: 0 auto 10px; width: 120px; height: 120px; background: #f2f2f2 url(../images/outline.png); transition: all 0.4s ease 0s; }
				#out_content .icon img { width: 70px; height: 70px; margin: 25px; }
				#out_content .icon:hover { background-color: rgb(248,80,75); }

			#out_content .title { font-family: 'Open Sans';font-weight:600; font-size: 20px; line-height: 30px; text-align: center; margin-bottom: 10px; }
			#out_content .title a { color: #121212; }
			#out_content .main { color: #6a6a6a; font-family: 'Open Sans';font-weight:400; font-size: 15px; line-height: 25px;padding: 0 10px; text-align: center;  margin-bottom: 6px; }
			#out_content .view {  font-family: 'Open Sans';font-weight:600; transition: all 0.4s ease 0s; font-size: 14px; line-height: 25px; text-align: center;  }
				#out_content .view a { color: #f8504b;font-family: 'Open Sans';font-weight:600; transition: all 0.4s ease 0s; font-size: 14px; line-height: 25px; margin-bottom: 0px; text-align: center; }
				#out_content .view a:hover { color: #121212; transition: all 0.4s ease 0s; }

/* 项目演示 */
#project { background: url(../images/project.png); padding: 30px 0; }
	#project .name { color: #ffffff; }
	#project .words { color: #dedede;  }
	#project .line { width: 100px; margin: 30px auto 0; }

	#project .demo { margin-top: 50px; }
		#project .demo li { height: 310px; width: 270px; margin-left: 3px; margin-bottom: 40px; float: left; }
		#project .demo li:hover .remarks { background: rgb(248, 80, 75); color: #fff; }

		#project .demo img { transition: all 0.3s ease 0s; height: 270px; width: 270px; }
			#project .demo .remarks { background: #fff; height: 40px; line-height: 40px; text-indent: 1em; font-family: 'Open Sans'; font-weight: 600;font-size: 14px;  color: #515151; transition: all 0.3s ease 0s; }

	#project .more { text-align: center; margin-top: 50px; }
		#project .more a { display: inline-block; color: #FFFFFF; text-shadow: 0px 1px 1px #777777; border: 2px solid #ffffff;  font-family: 'Open Sans'; font-weight:600; font-size: 18px; line-height: 20px; padding: 14px 30px; transition: all 0.3s ease 0s; /*vertical-align: middle;*/ }
		#project .more a:hover { background: rgb(248,80,75); border-color: rgb(248,80,75); }

/* 名博推荐 */
#blogger { background: #fff; padding: 30px 0; }
	#blogger .name { color: #121212; }
	#blogger .words { color: #6a6a6a; }
	#blogger .line { width: 100px; margin: 30px auto 0; }

	#blogger_main { margin-top: 50px; }
		#blogger_main>ul>li { transition: all 0.3s ease 0s; background: rgb(27,29,33); padding: 20px; width: 500px; height: 240px; border-bottom: solid 10px rgb(248,80,75); float: left; margin-bottom: 30px; }
			#blogger_main>ul>li:hover { background: rgb(236,236,236); }
			#blogger_main>ul>li:hover > .describe>.name { color: #1b1d21; }
			#blogger_main>ul>li:hover > .describe>.words { color: #555; }

		#blogger_main .header { width: 160px; height: 170px; float: left }
			#blogger_main img { width: 160px; height: 170px; }
		#blogger_main .describe { width: 320px; height: 240px; float: left; margin-left: 20px; }
			#blogger_main .describe .name { transition: all 0.3s ease 0s; color: #fff; font-weight: 600; font-size: 20px; line-height: 22px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; text-align: left; }
			#blogger_main .describe .words { transition: all 0.3s ease 0s; color: #dedede; font-size: 15px; line-height: 25px; margin-top: 15px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; text-align: left; height: 120px; overflow: hidden; }
			#blogger_main .describe .follow { margin-top: 15px; }
			#blogger_main .describe .follow li { float: left; margin-right: 10px; }
			#blogger_main .describe .follow li a { display: inline-block; width: 32px; height: 32px; }
				#blogger_main .describe .follow li a.weichat { transition: all 0.3s ease 0s; background: url(../images/weichat1_100px.png); background-size: 32px 32px; }
				#blogger_main .describe .follow li a.sinaweibo { transition: all 0.3s ease 0s; background: url(../images/sinaweibo1_100px.png);background-size: 32px 32px; }
				#blogger_main .describe .follow li a.tencentweibo { transition: all 0.3s ease 0s; background: url(../images/tencentweibo1_100px.png);background-size: 32px 32px; }
				#blogger_main .describe .follow li a.qq { transition: all 0.3s ease 0s; background: url(../images/qq1_100px.png);background-size: 32px 32px; }
			#blogger_main .describe .follow li a.weichat:hover { background: url(../images/weichat2_100px.png);background-size: 32px 32px; }
			#blogger_main .describe .follow li a.sinaweibo:hover { background: url(../images/sinaweibo2_100px.png);background-size: 32px 32px; }
			#blogger_main .describe .follow li a.tencentweibo:hover { background: url(../images/tencentweibo2_100px.png);background-size: 32px 32px; }
			#blogger_main .describe .follow li a.qq:hover { background: url(../images/qq2_100px.png);background-size: 32px 32px; }



/* 关于 */
#about { background: rgb(248,80,75); border-top: solid 2px rgb(229,58,53); border-bottom: solid 2px rgb(229,58,53); }
	#about .describe { height: 120px; width: 850px; text-align: left; }
		#about .describe .name { font-size: 30px; color:#ffffff; font-family: 'Open Sans'; line-height: 35px; margin: 0 0 10px;  }
		#about .describe .words { color:#ffffff; font-size:16px; line-height: 22px; margin: 0px; }
	#about .contact { height: 120px; width: 250px; text-align: right; }
	#about .contact a { background-color: transparent; color: #FFFFFF;border: 2px solid #ffffff;  display: inline-block;font-family: 'Open Sans';font-weight:600;font-size: 22px; padding: 10px 30px; transition: all 0.4s ease 0s; margin-top: 30px; }
	#about .contact a:hover { background: #fff; color: rgb(248,80,75); }
